<!DOCTYPE html>
<html>
  <head>
    <title>Client Page</title>
    <style type="text/css" media="screen">
      body {
        padding: 0;
        margin: 0;
        align-items: center;
        cursor: pointer;
      }
      nav {
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding: 40px;
        font-size: 25px;
        height: 5vh;
      }


      h3 {
        text-align: center;
        font-size: 40px;
      }

      input {
        padding: 20px;
        margin: 10px;
        width: 60vw;
        height: 4vh;
        border: none;
        border-bottom: 1px solid black;
      }
      a {
        padding: 0 15px;
        color: white;
        text-decoration: none;
      }

      .search{
        padding: 0 20px;
      }
      .searchBar {
        width: 32%;
        height: 4vh;
        font-size: 15px;
        padding: 10px;
        margin: 20px;
        background-color: rgb(255, 255, 255);
        border: none;
        border-bottom: 1px solid black;
      }
      .searchButton {
        width: 9vw;
        background-color: rgb(199, 206, 209);
        border: none;
        height: 7vh;
        width: 7vw;
      }
      .container {
        background-color: rgba(255, 255, 255, 0.986);
        display: flex;
       box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        flex-direction: column;
        width: 25%;
        height: 50vh;
        padding-bottom: 30px ;
        margin: 20px;
        color: black;
      }
      .containerImage {
        width: 25vw;
        height: 30vh;
      }
      .containerDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .pText{
        padding: 0 15px;
        margin: 0;
      }
    </style>
  </head>

  <body>
    <nav>
      <a href="/">Da-Manager</a>

      <a href="./login">Admin</a>
    </nav>
    <h3> Products</h3>
    <div class="client">
      <div class="search">
        <input
          class="searchBar"
          type="text"
          placeholder="Search For Products"
        />
        <button class="searchButton">Search</button>
      </div>
      <div>
       
      
        <div class="containerDiv">
          <% users.forEach(function(user) { %>
          <div class="container">
            <div>
              <img class="containerImage" src="<%=user.photo%>" />
            </div>
            <div class="pText">
              <p style="font-size: 20px; font-weight: bolder; color: black;"><%=user.user_name%></p>
              <p style="font-size: 17px;"><%=user.user_product%></p>
              <p style="font-size: 17px;"><span>$ <%=user.user_price%></span></p>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
