<!DOCTYPE html> 
<html> 
<head> 
    <title>Client Page</title> 
    <style type="text/css" media="screen">
        body{
            padding: 0;
            margin: 0;
            align-items: center;
        }
        nav {
      background-color: black;
      display: flex;
      justify-content: space-between;
      padding: 40px;
            font-size: 30px;
      height: 10vh;
    }

    .navLi{
      padding: 0 5px;
    
    }
    .client{
        
    }
    h3 {
    text-align: center;
      font-size: 40px;
    }
   
    input {
      padding: 20px;
      margin: 10px;
      width: 60vw;
      height: 4vh;
      border: none;
      border-bottom: 1px solid black;
       
    }
    a{
      color: white;
      text-decoration: none;
    }

    .search{
        padding-top: 50px;
    }
    .searchBar {
            width: 70%;
            height: 4vh;
            font-size: 15px;
            padding: 10px;
            margin: 20px;
            background-color: lightblue;
            border: none;
    }
    .searchButton{
    width: 9vw;
    background-color: lightblue;
    border: none;

    height: 7vh;
} 
        .container{
            background-color: rgba(216, 218, 218, 0.651);
            width: 40vh;
            height: 40vh;
            padding: 20px;
            margin: 20px;
            color: white;
            -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
        inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
      -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
        inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
      -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
        inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
      box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
        inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
        } 

        </style>
</head> 
  
<body> 
    <nav>
        <a href="/">Da-Manager</a>
        
          <a href="./login">Admin</a>
      </nav>
      

<div class="client">
    
    <div class="search">
        <input class="searchBar" type="text" placeholder="Search For Products">
        <button class="searchButton">Search</button>
    </div>
    <div  >
    
        <h3>Products Found</h3>
        <div class="container">
            <p>{{user_name}}</p>
            <p>{{user_product}}</p>
            <li> {{user_price}}</li>
            <div>
                {userImmage}
            </div>
        </div>
       
    </div> 
</div>

</body> 
  
</html>