<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<style type="text/css" media="screen">
body{
        padding: 0;
        margin: 0;
}
    
    nav {
        background-color: black;
      display: flex;
      justify-content: space-between;
      padding: 40px;
      color: white;
      font-size: 30px;
      height: 10vh;
    }
    a{
      color: white;
      text-decoration: none;
    }
   

    .mainDiv {
            display: flex;
            flex-direction: column;
            width: 100%;
    }
    a {
            text-decoration: none;
    }
    .searchBar {
            width: 70%;
            height: 7vh;
            font-size: 15px;
            margin: 20px;
            border-bottom: 3px solid black;
    }

   
    .searchBar {
            width: 70%;
            height: 4vh;
            font-size: 15px;
            padding: 10px;
            margin: 20px;
            background-color: lightblue;
            border: none;
    }
    .searchButton{
    width: 9vw;
    background-color: lightblue;
    border: none;

    height: 7vh;
}  
    h2 {        
            text-align: center;
            font-size: 40px;
            
    }
    .container{
            background-color: rgba(216, 218, 218, 0.651);
            width: 40vh;
            height: 40vh;
            padding: 20px;
            margin: 20px;
            color: white;
            -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
        inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
      -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
        inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
      -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
        inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
      box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
        inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
        } 
</style>
<nav>
        <a href="/"> Home</a>
        <div class="navLi">
          <a href="/add_direct">Forms</a>
          <a href="/display">Records</a>
        </div>
      </nav>
      <br>
      <br>
      <br>
      <div class="search">
        <input class="searchBar" type="text" placeholder="Search For Products">
        <button class="searchButton">Search</button>
    </div>
<br>
<br>
<br>
<div class="mainDiv" >

    <h2>Records Found</h2>

    <div class="container">
        <p>{{user_name}}</p>
        <p>{{user_product}}</p>
        <li> {{user_price}}</li>
        <div>
            {userImmage}
        </div>
        <a href='/edit'>Edit</a> |
         <a href='delete/{{_id}}'>Delete</a>
    </div>

   
</div>
</body>
</html>