<style type="text/css" media="screen">
  body {
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-image: linear-gradient(to right, #1e130c 0%, #cabcb5 51%, #1e130c 100%);
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a {
    color: white;
    text-decoration: none;
  }
  .mainDiv {
    background-color: rgb(255, 255, 255);
    justify-content: center;
  }

  input {
    background-color: white;
    width: 40vw;
    padding: 20px;
    margin: 20px;
  }
  .photoInput {
    height: 10vh;
    background-color: white;
  }
  .addButton {
    font-size: 20px;
    width: 10vw;
    height: 8vh;
    margin: 20px 123px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  h2 {
    border-bottom: 3px solid black;
  }
  .containerImage {
        width: 25vw;
        height: 30vh;
      }
      .btnLink{
        width: 10vw;
        margin: 30px  125px ;
        background-color: transparent;
        border: 1px solid black;
        height: 5vh;
      }
      .btnLinkA{
        color: black;
        font-size: 16px;
        font-weight: bold;
      }
      
</style>

<body>

    <div>
  
        <form method="post"  enctype="multipart/form-data">
         
          
         
          <h2>Edit Product</h2>
          <input
            type="text"
            placeholder="Enter Name"
            name="user_name"
            value="<%=userDetail.user_name%>"
            required
          />
          <br />
          <input
            type="text"
            placeholder="Product Description"
            name="user_product"
            value="<%=userDetail.user_product%>"
            required
          />
      
          <br />
      
          <input
            type="number"
            placeholder="Enter Price"
            name="user_price"
            value="<%=userDetail.user_price%>"
            required
          />
          <br />
          
            
            
          
          <input class="photoInput" type="file" name="photo"  required  />
          <br />
          <div class="btnDiv">
            <button class="addButton" onclick="return confirm('Are you sure you wish to update this Product?');" >Submit</button>
            <button class="btnLink">  <a class="btnLinkA" href="/display">Cancel</a></button>
          </div>
         
        </form>
        
      </div>
      
</body>