<link href="/cssResp/edit.css" rel="stylesheet" type="text/css" />

<body>
  <div>
    <form method="post" enctype="multipart/form-data">
      <h2>Edit Product</h2>
      <input
        type="text"
        placeholder="Enter Name"
        name="user_name"
        value="<%=userDetail.user_name%>"
        required
      />
      <br />
      <input
        type="text"
        placeholder="Product Description"
        name="user_product"
        value="<%=userDetail.user_product%>"
        required
      />

      <br />

      <input
        type="number"
        placeholder="Enter Price"
        name="user_price"
        value="<%=userDetail.user_price%>"
        required
      />
      <br />

      <input class="photoInput" type="file" name="photo" required />
      <br />
      <div class="btnDiv">
        <button
          class="addButton"
          onclick="return confirm('Are you sure you wish to update this Product?');"
        >
          Submit
        </button>
        <button class="btnLink">
          <a class="btnLinkA" href="/display">Cancel</a>
        </button>
      </div>
    </form>
  </div>
</body>
