
<style type="text/css" media="screen">
    body {
        padding: 0;
        margin: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input {
      padding: 20px;
      margin: 10px;
      width: 30vw;
    }
    a{
      color: white;
      text-decoration: none;
    }
            .mainDiv {
                background-color: rgb(255, 255, 255);
                justify-content:center ;
            }
            
            input{
                background-color: white;
                width: 60vw;
                padding: 20px;
                margin: 20px;
            }
            .photoInput{
                height: 10vh;
                background-color: gainsboro;
            }
            .addButton{
                font-size: 20px;
                width: 10vw;
                height: 8vh;
                margin: 20px;
                padding: 10px;
                background-color: black;
                color: white;
            }
            h2{
                border-bottom: 3px solid black;
            }
</style>

<div>
    
    <form method="post"  >
        <h2>Edit Post</h2>
        <input type="text" placeholder="Enter Name" name="user_name"  value="<%=userDetail.user_name%>" />
        <br>
        <input type="text" placeholder="Product Description" name="user_product" value="<%=userDetail.user_product%>" />

        <br>

        <input type="number" placeholder="Enter Price" name="user_price" value="<%=userDetail.user_price%>" />
        <br>
        <input class="photoInput" type="file"  name="photo" enctype="multipart/form-data"   />

        <br>
        <button class="addButton" type="submit" >Post </button>

    </form>

</div>
