<!DOCTYPE html> 
<html> 
<head> 
    <title>Home Page</title> 
    <style type="text/css" media="screen">
        body{
            padding: 0;
            margin: 0;
            align-items: center;
            cursor: pointer;
        }
        nav {
      background-color: black;
      display: flex;
      justify-content: space-between;
      padding: 40px;
      color: white;
      font-size: 30px;
      height: 10vh;
    }



    h4 {
      align-self: center;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input {
      padding: 20px;
      margin: 10px;
      width: 30vw;
    }
    a{
        padding: 0 10px;
      color: white;
      text-decoration: none;
    }
            .mainDiv {
                background-color: rgb(255, 255, 255);
                justify-content:center ;
            }
            
            input{
                background-color: white;
                width: 60vw;
                padding: 20px;
                margin: 20px;
            }
            .photoInput{
                height: 10vh;
                background-color: gainsboro;
            }
            .addButton{
                font-size: 20px;
                width: 10vw;
                height: 8vh;
                margin: 20px;
                padding: 10px;
                background-color: black;
                color: white;
            }
            h2{
                border-bottom: 3px solid black;
                font-size: 50px;
            }
            
        </style>
</head> 
  
<body> 
  
    <nav>
        <a href="/"> Home</a>
        <div class="navLi">
          <a href="/add_direct">New Product</a>
          <a href="/display">Products</a>
        </div>
      </nav>
      
<div class="mainDiv">
   
  <form method="post" enctype="multipart/form-data" action="/add_direct"  >
    <h2>Add New Product</h2>
    <input type="text" placeholder="Product Name" name="user_name" required >
    <br>
    <input type="text" placeholder="Product Description" name="user_product" required >

    <br>

    <input type="number" placeholder="Enter Price" name="user_price" required >
    <br>
    <input class="photoInput" type="file"  name="photo" required   />

    <br>
    <button class="addButton"  submit="/add_direct" >Post </button>
</form>
 
  </div>
  
   
</div>

</body> 
  
</html>

