<link href="/cssResp/home.css" rel="stylesheet" type="text/css">

<nav>
  <a href="/"> Home</a>

  <a href="/main">Display</a>
</nav>

<div class="mainDiv">

  <form method="post" enctype="multipart/form-data">

    <h2>New Product</h2>
    <input type="text" placeholder="Product Name" name="user_name" required>
    <br>
    <input type="text" placeholder="Product Description" name="user_product" required>

    <br>

    <input type="number" placeholder="Enter Price" name="user_price" required>
    <br>
    <input class="photoInput" type="file" name="photo" required />

    <br>
    <button class="addButton" submit="/add_direct">Add </button>
  </form>

</div>


</div>