<link href="/cssResp/login.css" rel="stylesheet" type="text/css">

<body>
    <nav>
        <a href="/">Da-ManagerBase</a>
      
        <a href="./login">Admin</a>
      </nav>
      
      <div class="mainDiv">
        <form method="post" >
          <h2>Sign In</h2>
          <input type="text" placeholder="Email" name="email" required />
          <br />
          <input type="password" placeholder="Password" name="password" required />
      
          <br />
      
          <br />
          <button class="addButton" submit="/login">Login</button>
        </form>
      </div>
</body>
