<!DOCTYPE html> 
<html> 
<head> 
    <title>Home Page</title> 
    <style type="text/css" media="screen">
        body{
            padding: 0;
            align-content: center;
            margin: 0;
        }
            .mainDiv {
                background-color: rgb(255, 255, 255);
                display: flex;
            flex-direction: column;
            align-items: center;
               
            }
            
            input{
                background-color: white;
               
                width: 50vw;
                padding: 20px;
                margin: 20px;
            }
            .photoInput{
                height: 10vh;
                background-color: gainsboro;
            }
            .addButton{
                font-size: 20px;
                font-weight: bolder;
                width: 10vw;
                height: 8vh;
                margin: 20px;
                padding: 10px;
                background-color: black;
                color: white;
            }
            h2{
                padding-left: 250px;
                font-size: 50px;
                align-items: center;
            }
            
        </style>
</head> 
  
<body> 
   
<div class="mainDiv">

    
    
    <form method="post" action="/login" >
        <h2>Sign In </h2>
        <input type="text" placeholder="User Name" name="username" >
        <br>
        <input type="password" placeholder="Password" name="password" >

        <br>

        <br>
        <button class="addButton"  submit="/login" > Log-In </button>
    </form>
    
</div>

</body> 
  
</html>
