<style type="text/css" media="screen">
  body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-size: 25px;
    height: 5vh;
  }
  a {
    padding: 0 10px;
    color: white;
    text-decoration: none;
  }
  .mainDiv {
    display: block;
    text-align: center;
    padding-top: 50px;
    height: 100%;
    background-image: linear-gradient(to right, #1e130c 0%, #cabcb5 51%, #1e130c 100%);
    background-color: #314549;
    
  }

  input {
    background-color: white;
    border: none;

    width: 20vw;
    padding: 20px;
    margin: 10px;
  }
 
  form {
    display: inline-block;
    width: 40vw;
    height: auto;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    padding-bottom: 20px;
  }
  .addButton {
    font-size: 20px;
    font-weight: bolder;
    width: 20vw;
    height: auto;
    margin: 20px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
  }
  h2 {
    font-size: 30px;
  }
</style>
<body>
    <nav>
        <a href="/">Da-ManagerBase</a>
      
        <a href="./login">Admin</a>
      </nav>
      
      <div class="mainDiv">
        <form method="post" >
          <h2>Sign In</h2>
          <input type="text" placeholder="Email" name="email" required />
          <br />
          <input type="password" placeholder="Password" name="password" required />
      
          <br />
      
          <br />
          <button class="addButton" submit="/login">Login</button>
        </form>
      </div>
</body>
