<style type="text/css" media="screen">
  body {
    padding: 0;
    margin: 0;
    font-family: monserrat;
    cursor: pointer;
  }

  a {
    padding: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  .mainDiv {
    background-image: linear-gradient(
      to right,
      #757f9a 0%,
      #d7dde8 51%,
      #757f9a 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100vh;
  }
  .mainbody {
      display: flex;
      flex-direction: column;
    align-items: center;
  }
  .btnLink {
    width: 20vw;
    background-image:linear-gradient(to right, #1e130c 0%, #8f847f 51%, #1e130c 100%);
    border: 2px solid black;
    height: 10vh;
    color: white;
  }
 
  button {
    width: 20vw;
    margin: 10px 5px;
    background-image: linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%);
    border: 2px solid black;
    height: 10vh;
  }
  .flashMsg {
      padding-top: 30px;
    text-align: center;
    color: blue;
  }
  .letterHeads{
      text-align: center;
  }
</style>

<div class="mainDiv">
  
  <div class="letterHeads">
    <h1 style="font-size: 45px; padding-bottom: 40px;">Da-ManagerBase, Do More for Less Time.</h1>
    
  </div>
  <div class="mainBody">
    <button class="btnLink">
      <a class="btnLinkA" href="/add_direct">Add New</a>
    </button>
    <button>
      <a href="/display">Products</a>
    </button>
  </div>
  <div class="flashMsg">
    <% if( locals.message) { %>
    <h1><%= message %></h1>
    <% } %>
  </div>
</div>
