<link href="/cssResp/main.css" rel="stylesheet" type="text/css">
<body>
  <div class="mainDiv">
    <div class="letterHeads">
      <h1 style="font-size: 45px; padding-bottom: 40px;">
        Da-ManagerBase, Do More for Less Time.
      </h1>
    </div>
    <div class="mainBody">
      <button class="btnLink">
        <a class="btnLinkA" href="/add_direct">Add New</a>
      </button>
      <button>
        <a href="/display">Products</a>
      </button>
    </div>
    <div class="flashMsg">
      <% if( locals.message) { %>
      <h1><%= message %></h1>
      <% } %>
    </div>
  </div>
</body>
